<style>
.fXjvyg {
    padding-top: 4px;
    padding-bottom: 24px;
    background-color: rgb(253, 250, 238);
}

<style>
.bJcWCp {
    padding: 54px 24px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: sharp-sans-semibold, fallback-font, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
    text-transform: none;
}

webkit-font-smoothing: antialiased;
color: rgb(51, 51, 51);
letter-spacing: 0em;
text-transform: none;
box-sizing: inherit;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
flex: 1 0 0px;