@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    background-image: url(./assets/signup.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50%;
}
.body {
    display: flex;
    -webkit-box-align: center;
    align-items: right;
    -webkit-box-pack: start;
    justify-content: start;
    text-align: right;
    color: rgb(51, 51, 51);
    font-family: sharp-sans-semibold, fallback-font, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
    text-transform: none;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}